<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Partes</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

<ion-list>
  <ion-list-header>Listado de partes de trabajo</ion-list-header>
 <!--<ion-item> <button full (click)="crearParte()">Añadir parte</button> </ion-item>-->
  <ion-item-sliding *ngFor="let p of partes"  class="transparente" >
    <button ion-item (click)="cargaParte(p)">
      <h2>{{p.id}} - {{p.nombre}} - {{p.fechaformato}} - {{p.horainiformato}}</h2> 
    </button>
    <ion-item-options>
        <button ion-button color="danger" (click)="eliminaParte(p.id)">
          <ion-icon name="trash"></ion-icon>
            Eliminar
        </button>
        <button ion-button (click)="enviarEmail(p)">
          <ion-icon name="mail"></ion-icon>
            Enviar
          </button>
      </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>