<ion-header>
    <ion-navbar>
        <ion-title>Editar Parte de trabajo</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <ion-input hidden formControlName="id"></ion-input>
        <ion-input hidden formControlName="clienteid"></ion-input>
        <ion-item>
            <ion-label floating>Fecha</ion-label>
            <ion-datetime formControlName="fecha" displayFormat="DD/MM/YYYY"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label floating>Hora de inicio</ion-label>
            <ion-datetime formControlName="horaini" displayFormat="HH:mm"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label floating>Hora de fin</ion-label>
            <ion-datetime formControlName="horafin" displayFormat="HH:mm"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label floating>Trabajo realizado</ion-label>
            <ion-textarea formControlName="trabajorealizado" ></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label floating>Autorizado por:</ion-label>
            <ion-input formControlName="personafirma" ></ion-input>
        </ion-item>
        <ion-item [hidden]="firmaImg!=null && firmaImg!=''">
            <p><button type="button" (click)="doOnEnd()">Firmar</button></p>
            <signature-pad [options]="signaturePadOptions" ></signature-pad>            
        </ion-item>
        <ion-item>
            <button type="submit">Enviar</button>
            <button danger (click)="cancelar()">Cancelar</button>
        </ion-item>
        <ion-item>
            <img src="{{firmaImg}}" alt="firma" [hidden]="(firmaImg==null || firmaImg=='') ">
        </ion-item>
    </form>

    